.navbar {
  background-color: rgba(106, 114, 95, 0.616);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo img {
  width: 100px;
}

.navbar-links {
  float: right;
  display: flex;
  font-size: 130%

}

.navbar a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 90px;
  margin-top: 70px;
}

.hero-content {
  display: flex;
}

.hero-content img {
  width: 37%;

}


.hero h1 {
  font-size: 48px;
  color: #333;
}

.hero p {
  font-size: 25px;
  color: #555;
  margin-bottom: 40px;
}

.hero-text {
  width: 50%;
  padding: 100px;
  box-sizing: border-box;
  text-align: center; 
}

.button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  text-align: center; 
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
}
.about {
  background-color: #f9f9f9;
  padding: 5px 0;
}

.about-content {
  text-align: center;
}

.about h2 {
  font-size: 48px;
  color: #333333a8;
  margin-left: 75px;
}

.about p {
  font-size: 25px;
  color: #1a2b1dee;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify; 
  font-family: sans-serif
}
.card-section {
  background-color: #d3caca;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-section img {
  width: 75px;
  margin-top: 15px;
}
.card-section h2 {
  text-align: center;
  width: 10000px;
  margin-bottom: 50px;
  font-size: 48px;
}
.card {
  background-color: #aac4aa;
  border: 2px solid #020202;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: calc(33.33% - 10px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 60px;
  
}

.card h3 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.card p {
  font-size: 23px;
  color: #0a0707;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.contact {
  padding: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact .contact-info {
  flex: 1;
  text-align: left;
}

.contact .contact-info h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact .contact-info ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact .contact-info ul li {
  margin-bottom: 15px;
}

.contact .contact-info ul li img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.contact .contact-info ul li span {
  font-size: 1rem;
  vertical-align: middle;
}

.contact .map-container {
  flex: 1;
  margin-left: 30px;
}

.contact .map-container iframe {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 10px;
}
.site-footer {
  background-color: #333;
  color: #fff;
  padding: 20px ;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 110px;
}

.footer-company p {
  margin: 0;
  font-size: 14px;
}
@media (max-width: 1024px) {
  .navbar-links {
    width: 1000px ;
    padding: 0%;
    font-size: 15px;
  }
  .navbar-links a {
    padding-inline-end: 0%;
    padding-inline-start: 3%;
  }

  .hero {
    width: 110%;
  }
  
  .hero-text p {
    width: 100px;
    text-align: left;
    flex: 1;
    align-items: center;
  }
  
  .hero img {
    width: 40%;
    max-height:70ch;
    flex: 0.5
  }

  .contact-map .container {
      flex-direction: column;
      align-items: center;
  }

  .contact-map .contact-info {
      margin-bottom: 50px;
  }

  .contact-map .map-container {
      margin-left: 0;
      margin-top: 30px;
  }

  .contact-map .map-container iframe {
      height: 200px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
      font-size: 2.5rem;
  }

  .hero p {
      font-size: 1rem;
  }

  .card .card-item {
      max-width: 250px;
  }

  .contact-map .map-container iframe {
      height: 180px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
      font-size: 1.6rem;
  }

  .hero p {
      font-size: 0.9rem;
  }

}